In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
li=[1,2,3,4]

In [4]:
type(li)

list

In [5]:
x=np.array(li)

In [6]:
x

array([1, 2, 3, 4])

In [7]:
type(x)

numpy.ndarray

In [8]:
data1=np.array([1,None,2,3])

In [9]:
data1

array([1, None, 2, 3], dtype=object)

In [13]:
%timeit np.arange(1E6,dtype=int).sum()

1.14 ms ± 47.6 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [14]:
%timeit np.arange(1E6, dtype=object).sum()

36.2 ms ± 1.49 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [18]:
x=pd.Series(range(2))

In [19]:
x

0    0
1    1
dtype: int64

In [20]:
x[0]=None

In [21]:
x

0    NaN
1    1.0
dtype: float64

In [24]:
li

[1, 2, 3, 4]

In [25]:
li[0]=None

In [26]:
li

[None, 2, 3, 4]

In [29]:
type(li)

list

In [38]:
y=pd.Series([1.0,2.0,3.0,4.0])

In [39]:
y

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [40]:
y[0]=None

In [41]:
y

0    NaN
1    2.0
2    3.0
3    4.0
dtype: float64

In [47]:
z=pd.Series(range(5),dtype=object)

In [48]:
z

0    0
1    1
2    2
3    3
4    4
dtype: object

In [49]:
z[0]=None

In [50]:
z

0    None
1       1
2       2
3       3
4       4
dtype: object

In [51]:
v=pd.Series(range(5),dtype=bool)

In [52]:
v

0    False
1     True
2     True
3     True
4     True
dtype: bool

In [53]:
v[3]=None

In [54]:
v

0    False
1     True
2     True
3      NaN
4     True
dtype: object

In [55]:
pd.Series([1,np.nan,2,None,pd.NA], dtype='Int32')

0       1
1    <NA>
2       2
3    <NA>
4    <NA>
dtype: Int32

In [56]:
pd.Series([1,np.nan,2,None,pd.NA])

0       1
1     NaN
2       2
3    None
4    <NA>
dtype: object

In [58]:
w=pd.read_csv("netflix_data.csv")

In [59]:
w

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,4,In a future where the elite inhabit an island ...,International TV
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas
...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,"October 19, 2020",2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,111,A scrappy but poor boy worms his way into a ty...,Dramas
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,44,"In this documentary, South African rapper Nast...",Documentaries
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,1,Dessert wizard Adriano Zumbo looks for the nex...,International TV
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,United Kingdom,"March 1, 2020",2019,90,This documentary delves into the mystique behi...,Documentaries

In [60]:
w.describe()

       release_year     duration
count   7787.000000  7787.000000
mean    2013.932580    69.122769
std        8.757395    50.950743
min     1925.000000     1.000000
25%     2013.000000     2.000000
50%     2017.000000    88.000000
75%     2018.000000   106.000000
max     2021.000000   312.000000

In [61]:
w.director

0                     NaN
1       Jorge Michel Grau
2            Gilbert Chan
3             Shane Acker
4          Robert Luketic
              ...
7782          Josef Fares
7783          Mozez Singh
7784                  NaN
7785                  NaN
7786             Sam Dunn
Name: director, Length: 7787, dtype: object

In [63]:
w.director.isnull()

0        True
1       False
2       False
3       False
4       False
        ...
7782    False
7783    False
7784     True
7785     True
7786    False
Name: director, Length: 7787, dtype: bool

In [64]:
w.director.isnull().sum()

2389

In [65]:
w.director.notnull()

0       False
1        True
2        True
3        True
4        True
        ...
7782     True
7783     True
7784    False
7785    False
7786     True
Name: director, Length: 7787, dtype: bool

In [67]:
w.director.notnull().sum()

5398

In [69]:
w.director

0                     NaN
1       Jorge Michel Grau
2            Gilbert Chan
3             Shane Acker
4          Robert Luketic
              ...
7782          Josef Fares
7783          Mozez Singh
7784                  NaN
7785                  NaN
7786             Sam Dunn
Name: director, Length: 7787, dtype: object

In [72]:
w.director.dropna()

1       Jorge Michel Grau
2            Gilbert Chan
3             Shane Acker
4          Robert Luketic
5             Serdar Akar
              ...
7780         Shlok Sharma
7781         Peter Hewitt
7782          Josef Fares
7783          Mozez Singh
7786             Sam Dunn
Name: director, Length: 5398, dtype: object

In [74]:
w.director.dropna().count()

5398

In [75]:
w.director

0                     NaN
1       Jorge Michel Grau
2            Gilbert Chan
3             Shane Acker
4          Robert Luketic
              ...
7782          Josef Fares
7783          Mozez Singh
7784                  NaN
7785                  NaN
7786             Sam Dunn
Name: director, Length: 7787, dtype: object

In [78]:
w.director.fillna(0)

0                       0
1       Jorge Michel Grau
2            Gilbert Chan
3             Shane Acker
4          Robert Luketic
              ...
7782          Josef Fares
7783          Mozez Singh
7784                    0
7785                    0
7786             Sam Dunn
Name: director, Length: 7787, dtype: object

In [80]:
w.director.fillna("HI")

0                      HI
1       Jorge Michel Grau
2            Gilbert Chan
3             Shane Acker
4          Robert Luketic
              ...
7782          Josef Fares
7783          Mozez Singh
7784                   HI
7785                   HI
7786             Sam Dunn
Name: director, Length: 7787, dtype: object